<!-- 

<div class="input-group">
  <input type="hidden" name="bucket_id" value="<%= bucket.id %>" />
  <input type="hidden" name="id" value="<%= item.id %>" />
  <input type="hidden" name="status" value="<%= item.status %>" />
  
  <div class="input-group-btn">
    <button type="button" class="btn_submit btn btn-default complete" name="PUT" value="update" aria-label="Compelte">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
  </div>

  
  <input type="text" class="form-control" name="name" value="<%= item.name %>" aria-label="Text input with multiple buttons">
  
  
  <div class="input-group-btn">
    <button type="button" class="btn_submit btn btn-default update" name="PUT" value="<%= item.status %>" aria-label="Update">
      <span class="glyphicon glyphicon-upload"></span>
    </button>
    <button type="button" class="btn_submit btn btn-default delete" name="DELETE" value="delete" aria-label="Delete">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
  </div>

</div> -->


<div data-spy="scroll" class="input-group item-field">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default complete" aria-label="Complete">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
  </div>
  <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
  <div class="input-group-btn">
    <button type="button" class="btn btn-default update" aria-label="Update">
      <span class="glyphicon glyphicon-upload"></span>
    </button>
    <button type="button" class="btn btn-default delete" aria-label="Delete">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
  </div>
</div>